<!DOCTYPE html>
<html lang="hi">
    <head>
        <title>Seed Certification : Home</title>
        <link href="./css/style.css" type="text/css" rel="stylesheet" />
        <script src="./js/main.js"></script>
    </head>
    <body>
        <header>
            <div class="navbar">
                <ul>
                    <div class="menu">
                        <li><a href="/dashboard" id="lang">डैशबोर्ड</a></li>               
                        <li><a href="/en" id="lang">English</a></li>
                    </div>                    
                </ul>
            </div>
        </header>

        <div class="trace-seed-container">
            <form class="trace-seed" action="/trace" method="GET">
                <input type="text" name="seedId" placeholder="सीदलोट संख्या">
                <button type="submit">मार्ग</button>
            </form>
        </div>
    </body>
</html>