<!DOCTYPE html>
<html lang="hi">
    <head>
        <title>Seed Certification</title>
        <link href="./css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="navbar">
                <ul>
                    <div class="menu">
                        <li><a href="/">होम</a></li>
                        <li><a href="/en">English</a></li>
                        <!--li><a href="#login">Login</a></li-->
                    </div>                    
                </ul>
            </div>
        </header>

        <div class="trace-seed-container">
            <form class="trace-seed" action="/login" method="POST">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">लॉगइन</button>
            </form>
        </div>
    </body>
</html>