<!DOCTYPE html>
<html lang="hi">
    <head>
        <title>Seed Certification</title>
        <link href="./css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="navbar">
                <ul>
                    <div class="menu">
                        <li><a href="/">होम</a></li>                        
                        <li><a href="/logout">लॉगआउट</a></li>
                        <li><a href="/en">English</a></li>
                    </div>                    
                </ul>
            </div>
        </header>
        
        <div class="test-result-submit-container">
            <form class="test-result-submit" action="/submit-seed-certification" method="POST">                
                <!--certBy
                    cert_no, cert_by, seed_id
                
                <input type="text" name="certifier-name">-->
                बीज क्रम
                <input type="number" name="seedId">
                प्रमाण पत्र संख्या
                <input type="number" name="certificationNumber">
                प्रमाणपत्र दिनांक
                <input type="date" id="testDate" name="certificationDate">
                <button type="submit">दर्ज करे</button>
            </form>
        </div>
    </body>
</html>